@{
    ViewData["Title"] = "Home Page";
}

<div class="home-bg">
    <div class="centered-card">
        <div class="frosted-card">
            <h1>Welcome to Metric System</h1>
            <p>Easily convert from British system to international metric system.</p>
        </div>
    </div>
</div>
